name: Java CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 8, 11 ]

    steps:
    - uses: actions/checkout@v6
    - name: Setup JDK 1.${{ matrix.java-version }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-version }}
    - name: Build with Gradle
      run: ./gradlew build
