name: Java CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 8, 11, 17, 21, 25 ]

    steps:
    - uses: actions/checkout@v6
    - name: Setup JDK to run Gradle
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: 'temurin'
    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build with Gradle, Java version ${{ matrix.java-version }}
      run: ./gradlew build -PjavaVersion=${{ matrix.java-version }}
